*{
    font-family: 'Josefin Sans', sans-serif;
}

#logo{
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 20%;

}
#grid1{
   padding-left: 10%;
}
.header1{
    letter-spacing: .8rem;
}
.header1 span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color:hsl(0, 36%, 70%);

}